/* login icon section*/
.icon-shape a{
    color: #444444;
}
.icon-shape i{
    padding: 5px;
}
.shape{
    font-size: 25px;
}
.shape span{
    padding-left: 12px;
    padding-right: 22px;
}
.circ{
    font-size: 25px;
    padding: 5px;
    text-align: center;
    border: 2px solid #444444;
    border-radius: 50%;
}
/* login icon section end*/

/* menu  section*/
.menu-font{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bg-light {
    background-color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(247, 107, 107);
}
/* menu section end*/

.content{
    position: absolute;
    height: 100%;
}
.content-text {
    position: relative;
    padding-top: 250px;
    padding-left: 65px;
    padding-bottom: 60px;
    
}
.content-text h3{
    font-size: 25px;
    font-weight: bold;
    color: #0c0c0c;
}
.content-text p{
    color: #fdfdfd;
}
.content-text a {
	color: #fff;
	background-color: #f00;
	border-color: #f00;
}
.content-text a:hover {
	color: #fff;
	background-color: rgba(167, 7, 7, 0.212);
	border-color: rgba(235, 227, 227, 0.212);
}
.h{
    height: 430px;
    
    
}
.s{
    height: 100%;
    max-width: 1205px;
}
.dorder{
    border-bottom: 1px solid #0c0c0c;
    margin-top: 30px;
    margin-bottom: 30px;
}
.botom-pading{
    padding-bottom: 40px;
}
.title{
    text-align: center;
    
}


hr{
    border-bottom: 2px solid #0c0c0c;
    width: 174px;
    font-weight: bold;
    
}

/*parallax*/

.parallax{
    background-image: url('../images/dog-2.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.parallax h2{
    color: whitesmoke;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-left: -15px;
}


/*admin panel*/

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #c2c2c2;
}